.task {
  margin-top: 1rem;
  border: 2px solid #9a8e8e;
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  min-width: 320px; // для упрощения задачи допустим, что нам не нужен адаптив на ширину экрана менее 320 пикселей
}